# --- Core Frameworks ---
streamlit
pandas
numpy

# --- Machine Learning ---
scikit-learn
xgboost
tensorflow
joblib

# --- MLOps (DagsHub/MLflow) ---
mlflow
dagshub

# --- Database & API ---
pymongo
python-dotenv
requests
urllib3

# --- Visualization ---
plotly


